body,html{
    height:100%;
}
*{
    margin:0;
}
body{
    background-color: #FFFCF5;
    color:#655E46;
    overflow: hidden;
    user-select: none;
    -webkit-user-select:none;
    -webkit-tap-highlight-color: transparent;
}

@media screen and (min-width:431px) {
    body{
        display: none;
    }
}

:root{
    --theme-orange:#FFC400;
    --theme-regular-color:#655E46;
}